<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.demo.dbsettingex.dao.MembersDAO">
	
	<select id="selectMembers" resultType="com.example.demo.dbsettingex.dto.Member">
		SELECT * FROM members
	</select>
	
	<insert id="registerMember" parameterType="com.example.demo.dbsettingex.dto.Member">
		INSERT INTO
			members
		VALUES
			(#{id}, #{name}, #{age}, #{dept})		
	</insert>
</mapper>