<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.demo.dbsettingex.dao.MembersDAO">
	
	<select id="getMember" parameterType="int" resultType="com.example.demo.dbsettingex.dto.Member">
		SELECT * FROM members WHERE id = #{id}
	</select>
	
	<select id="selectMembers" resultType="com.example.demo.dbsettingex.dto.Member">
		SELECT * FROM members
	</select>
	
	<!-- INSERT 삽입된 행의 개수를 반환 -->
	<insert id="registerMember" parameterType="com.example.demo.dbsettingex.dto.Member" useGeneratedKeys="true" keyProperty="id">
		INSERT INTO
			members (name, age, dept)
		VALUES
			(#{name}, #{age}, #{dept})		
	</insert>

    <!-- UPDATE(http PUT)  수정한 행의 개수를 반환(실패 시 0) -->
	<update id="putMember">
		UPDATE
		    members
		SET
		    name = #{member.name}, age = #{member.age}, dept= #{member.dept}
		WHERE
		    id = #{id}
	</update>
	
    <!-- UPDATE(http PATCH)  수정한 행의 개수를 반환(실패 시 0) -->
	<update id="patchMember">
		UPDATE
		    members
			<trim prefix="SET" suffixOverrides=",">
			    <if test="member.name != null and member.name != ''">
			    	name = #{member.name}, 
			    </if>
			    <if test="member.age != null and member.age != ''">
			    	age = #{member.age}, 
			    </if>
			    <if test="member.dept != null and member.dept != ''">
			    	dept = #{member.dept},
			    </if>
			</trim>
		WHERE
		    id = #{id}
	</update>
	
	<!-- DELETE 삭제한 행의 개수를 반환 -->
	<delete id="removeMember" parameterType="int">
	    DELETE FROM
	        members
	    WHERE
	        id = #{id}
	</delete>
	
	<insert id="multipleInsert" parameterType="java.util.List">
		INSERT INTO
			members(name, age, dept)
		VALUES
		<trim suffix="" suffixOverrides=",">
			<foreach collection="list" item="item" index="idx">
				(#{item.name}, #{item.age}, #{item.dept}) , 
			</foreach>
		</trim>
	</insert>
	
	<update id="multipleUpdate">
		UPDATE 
			members 
		SET
			dept = "it"
	</update>
	
	<delete id="multipleDelete">
		DELETE FROM
			members
	</delete>
</mapper>